{% extends 'accounts/main.html' %}

<!--Commentssss -->

{% block title %}Products{% endblock %}
<!--Commentssssssssss-->{% block content %}
<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Products</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <tr>
          <th>Products</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
        {% for product in products %}
        <tr>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>{{product.price}}</td>
          {%endfor%}
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
